<!DOCTYPE HTML>
<!-- xmlns:th="http://www.thymeleaf.org" -->
<html >
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Consultation</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
   </head>
   <body id="temp">
     <section id="header">
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">LAW <span>Company</span></a>
            <i class="fas fa-gavel"></i>
          </div>
 		</div>
      </nav>
     </section>
     <section id="consultation-form">
       <div class="container">
         <div class="col-md-5 consultation-form">
             <div class="form-area">
               <form role="form">
                <h3 class="form-title">Consultation Form</h3>
             		<div class="form-group">
         					<input type="text" class="form-control" id="name" name="name" placeholder="Staff Name" required>
         				</div>
         				<div class="form-group">
         					<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
         				</div>
                 <div class="form-group">

                   <select class="form-control" id="legalRecommendation"  >
                    <option>Select Recommendation</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                   <div id="pencilRec"><i class="fas fa-pencil-alt"></i></div>

                   
                  <textarea  id="recDescription" class="form-control" type="textarea" placeholder="Recommendation Description"  rows="7" ></textarea>
                 </div>
                 <div class="form-group">
                   <select class="form-control" id="legalOpinion">
                    <option>Select Legal Opinion</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                  <div id="pencilLeg"><i  class="fas fa-pencil-alt"></i></div>
                   <textarea id="opinionDescription" class="form-control" type="textarea" placeholder="Legal Opinion"  rows="7" ></textarea>
                 </div>

                 <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
               </form>
             </div>
         </div>
       </div>
     </section>
     <section id="case-history">
       <div class="row">
         <div class="case-history col-md-7">
           <div class="row history-header">
             <div class="history-title col-md-5">
               Case History
             </div>
             <div class="history-number col-md-7">
               23 consultations
             </div>
           </div>
		       <hr>
           <div class="history-list">
             <div class="list-item">
               <div class="head row">
                 <div class="col-sm-6">
                   <h4>Staff id</h4>
                 </div>
                 <div class="col-sm-6 date">
                   13/02/13
                 </div>

               </div>
               <p>Recommendation: </p>
               <p>Consultation asdasdd ddd ddd ddddd ddd dd dddddd d  d d dddd ddd ddddas
               asdddddd d dddddddddd dddddddd ddd dddddd ddddd dddd ddddd dddddddd dddasd
               asdd dddddd dddd dddddd dddddddddddddddd ddddd ddddd dd d dddd dd dddddd</p>

             </div>
              <div class="list-item">
               <div class="head row">
                 <div class="col-sm-6">
                   <h4>Staff id</h4>
                 </div>
                 <div class="col-sm-6 date">
                   13/02/13
                 </div>

               </div>

               <p>Recommendation: </p>
               <p>Consultation asdasdd ddd ddd ddddd ddd dd dddddd d  d d dddd ddd ddddas
               asdddddd d dddddddddd dddddddd ddd dddddd ddddd dddd ddddd dddddddd dddasd
               asdd dddddd dddd dddddd dddddddddddddddd ddddd ddddd dd d dddd dd dddddd</p>

             </div>
           </div>
           <!-- <div class="row history-list">

           </div> -->

         </div>
       </div>
     </section>

      <!-- <h1>Welcome</h1>
      <h2 th:utext="${message}">..!..</h2> -->

      <!--

         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}

         -->

      <!-- <a th:href="@{/personList}">Person List</a> -->
   <script type="text/javascript" th:src="@{/javaScript/content.js}"></script>
   </body>

</html>
