<!DOCTYPE HTML>
<!-- xmlns:th="http://www.thymeleaf.org" -->
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Head Office</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
	integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	crossorigin="anonymous"></script>
</head>
<body id="temp">
	<section id="header">
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">LAW <span>Company</span></a> <i
						class="fas fa-gavel"></i>
				</div>
			</div>
		</nav>
	</section>
	<section id="reports">
		<div class="container">
      <div class="row buttons">
        <div class="report-header col-md-12">
          <h3>Options</h3>
          <hr>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-info col-md-3">Weekly Report</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-info col-md-3">Report Report</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-info col-md-3">Report Report</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-info col-md-3">Report </button>
        </div>
      </div>
      <div class="row">
        <div class="report-header col-md-12">
          <h3>Reports table</h3>
          <hr>
        </div>
        <div class="table-responsive">
          <div class="panel panel-primary filterable">
              <table class="table table-bordred table-striped">
                  <thead>
                      <tr class="filters">
                          <th><input type="text" class="searchInput form-control" placeholder="#"></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Title" ></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Author" ></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Genre" ></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Year" ></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Language" ></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Average Rating" ></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each ="book : ${books}" >
                          <td th:utext="${book.bookId.id}"></td>
                          <td class="title"  th:title="${book.bookId.summary}" th:utext="${book.bookId.title}"></td>
                          <td class="italic" th:utext="${book.bookId.author}"></td>
                          <td class="center" th:utext="${book.bookId.genre}"></td>
                          <td class="center" th:utext="${book.bookId.year}"></td>
                          <td class="center" th:utext="${book.bookId.language}"></td>
                          <td class="center" th:utext="${book.bookId.avgRating}"></td>
                          <td ><p th:name="${book.bookId.id}" class="glyphicon glyphicon-remove" data-placement="top" data-toggle="tooltip" title="Delete"></p></td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
  		</div>
      </div>

	</section>
	<script type="text/javascript" th:src="@{/javaScript/content.js}"></script>
</body>

</html>
