<!DOCTYPE HTML>
<!-- xmlns:th="http://www.thymeleaf.org" -->
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Head Office</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
	integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	crossorigin="anonymous"></script>
</head>
<body id="temp">
	<section id="header">
		<nav class="navbar navbar-expand-md navbar-dark">
			<!-- Brand -->
			<a class="navbar-brand" href="#">LAW <span>Company</span></a> <i class="fas fa-gavel"></i>

			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto">
					<li id="logout" ><a class="nav-link" th:href="@{/}"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
				</ul>
			</div>
		</nav>
	</section>
	<section id="reports">
		<div class="container">
      <div class="row buttons">
        <div class="report-header col-md-12">
          <h3 style="margin:30px">Options</h3>
          <hr>
        </div>
        <div class="col-md-4">
          <button id="clientBranch" name="branch-report" type="button" class="btn btn-info">Month Client per Branch Statement</button>
        </div>
        <div class="col-md-4">
          <button  id="legalOpinions" name="legalOpinionReport" type="button" class="btn btn-info">Monthly Legal Opinion Statement</button>
        </div>
				<div class="col-md-4">
					<button  id="clientCase" name="recommendationReport" type="button" class="btn btn-info">Monthly Recommentation Statement</button>
				</div>

				<div class="col-md-4">
					<button  id="clientDay" name="clientsPerDay" type="button" class="btn btn-info">Weekly Client per Branch per Day Statement</button>
				</div>
				<div class="col-md-4">

				</div>
				<div class="col-md-4">
					<button  id="recommentation" name="clientsCons" type="button" class="btn btn-info">Client Involve In Each Case</button>
				</div>

      </div>
      <div class="row">
        <div class="report-header col-md-12">
          <h3>Reports table</h3>
          <hr>
        </div>
        <div id="branch-report" class="table-responsive table-head">
          <div class="panel panel-primary filterable">
              <table class="table table-bordred table-striped">
                  <thead>
                      <tr class="filters">
                          <th><input type="text" class="searchInput form-control" placeholder="#"></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Branch ID" ></th>
													<th><input type="text" class="searchInput form-control" placeholder="Branch Name" ></th>
                          <th><input type="text" class="searchInput form-control" placeholder="Total Number Of Appointments"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each ="branch,iter : ${branches}" >
													<td th:utext="${iter.index + 1}"></td>
                          <td th:utext="${branch.id}"></td>
                          <td th:title="${branch.name}" th:utext="${branch.name}"></td>
                          <td th:utext="${branch.total}"></td>
                      </tr>
                  </tbody>
              </table>
          </div>
				</div>
					<div id="legalOpinionReport" class="table-responsive table-head">
						<div class="panel panel-primary filterable">
								<table class="table table-bordred table-striped">
										<thead>
												<tr class="filters">
														<th><input type="text" class="searchInput form-control" placeholder="#"></th>
														<th><input type="text" class="searchInput form-control" placeholder="Legal Opinion ID" ></th>
														<th><input type="text" class="searchInput form-control" placeholder="Legal Opinion Type"></th>
														<th><input type="text" class="searchInput form-control" placeholder="Monthly usage"></th>
												</tr>
										</thead>
										<tbody>
												<tr th:each ="legalOpinion,iter : ${legalOpinions}" >
														<td th:utext="${iter.index + 1}"></td>
														<td th:utext="${legalOpinion.id}"></td>
														<td th:title="${legalOpinion.name}" th:utext="${legalOpinion.name}"></td>
														<td th:utext="${legalOpinion.total}"></td>
												</tr>
										</tbody>
								</table>
						</div>
					</div>
					<div id="recommendationReport" class="table-responsive table-head">
						<div class="panel panel-primary filterable">
								<table class="table table-bordred table-striped">
										<thead>
												<tr class="filters">
														<th><input type="text" class="searchInput form-control" placeholder="#"></th>
														<th><input type="text" class="searchInput form-control" placeholder="Recommendation ID" ></th>
														<th><input type="text" class="searchInput form-control" placeholder="Recommendation Type"></th>
														<th><input type="text" class="searchInput form-control" placeholder="Monthly usage"></th>
												</tr>
										</thead>
										<tbody>
												<tr th:each ="recommendation,iter : ${recommendations}">
														<td th:utext="${iter.index + 1}"></td>
														<td th:utext="${recommendation.id}"></td>
														<td th:title="${recommendation.name}" th:utext="${recommendation.name}"></td>
														<td th:utext="${recommendation.total}"></td>
												</tr>
										</tbody>
								</table>
						</div>
					</div>
					<div id="clientsPerDay" class="table-responsive table-head">
						<div class="panel panel-primary filterable">
								<table class="table table-bordred table-striped">
										<thead>
												<tr class="filters">
														<th><input type="text" class="searchInput form-control" placeholder="#"></th>
														<th><input type="text" class="searchInput form-control" placeholder="Branch ID" ></th>
														<th><input type="text" class="searchInput form-control" placeholder="Branch Name" ></th>
														<th><input type="text" class="searchInput form-control" placeholder="Day" ></th>
														<th><input type="text" class="searchInput form-control" placeholder="Total Number Of Appointments" ></th>
												</tr>
										</thead>
										<tbody>
												<tr th:each ="branchD,iter : ${branchesD}" >
														<td th:utext="${iter.index + 1}"></td>
														<td th:utext="${branchD.id}"></td>
														<td th:title="${branchD.name}" th:utext="${branchD.name}"></td>
														<td th:title="${branchD.day}" th:utext="${branchD.day}"></td>
														<td th:utext="${branchD.total}"></td>
												</tr>
										</tbody>
								</table>
						</div>
					</div>
					<div id="clientsCons" class="table-responsive table-head">
						<div class="panel panel-primary filterable">
								<table class="table table-bordred table-striped">
										<thead>
												<tr class="filters">
														<th><input type="text" class="searchInput form-control" placeholder="#"></th>
														<th><input type="text" class="searchInput form-control" placeholder="Consultation ID" ></th>
														<th><input type="text" class="searchInput form-control" placeholder="Consultation Name" ></th>
														<th><input type="text" class="searchInput form-control" placeholder="Total Number Of Clients" ></th>
												</tr>
										</thead>
										<tbody>
												<tr th:each ="consultation,iter : ${consultations}" >
														<td th:utext="${iter.index + 1}"></td>
														<td th:utext="${consultation.id}"></td>
														<td th:title="${consultation.name}" th:utext="${consultation.name}"></td>
														<td th:utext="${consultation.total}"></td>
												</tr>
										</tbody>
								</table>
						</div>
					</div>

        </div>
  		</div>
      </div>

	</section>
	<script type="text/javascript" th:src="@{/javaScript/content.js}"></script>
</body>

</html>
