<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" >
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </head>
   <body id="indexBody">
     <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="wrap">
                   <p class="form-title">
                       Welcome</p>
                   <form class="login"  method="POST">
                     <!-- th:action="@{/login}" th:object="${personForm}" -->
                     <input type="text" placeholder="Username"  />
                     <!-- th:field="*{username}" -->
                     <input type="password" placeholder="password"  />
                     <!-- th:field="*{password}" -->
                     <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                   </form>
               </div>
           </div>
        </div>
      </div>
      <!-- <h1>Welcome</h1>
      <h2 th:utext="${message}">..!..</h2> -->

      <!--

         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}

         -->

      <!-- <a th:href="@{/personList}">Person List</a> -->

   </body>

</html>
