<!DOCTYPE HTML>
<!-- xmlns:th="http://www.thymeleaf.org" -->
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Legal Appointments</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
	integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	crossorigin="anonymous"></script>
</head>
<body id="temp">
	<section id="header">
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">LAW <span>Company</span></a> <i
						class="fas fa-gavel"></i>
				</div>
			</div>
		</nav>
	</section>
	<section id="case-history">
		<div class="row">
			<div class="case-history col-md-7">
				<div class="row history-header">
					<div class="history-title col-md-6">Upcoming Appointments</div>
					<div class="history-number col-md-6"
						th:utext="'Total Appointments : ' + ${appointmentsNumber}"></div>
				</div>
				<hr>
				
				<div class="history-list">
					<div class="list-item" th:each="appointment : ${appointments}">
						<div class="head row">
							<div class="col-sm-6">
								<h4 th:utext="'Appointment #'+ ${appointment.id}"></h4>
								<p
									th:utext="'Date : ' + ${appointment.date == null ? 'No Summary Available' : appointment.date}">...</p>

								<p th:utext="'Attended : '+ ${appointment.attented}"></p>

								<p th:utext="'Drop in  : '+ ${appointment.dropin}"></p>
							</div>
							<div class="col-sm-6 ">
								<div th:utext="'Created on : ' + ${appointment.dateCreated}" class="date"></div>
								<div class="app-btn">
									<button th:name="${appointment.id}" type="button" class="btn-appointment btn btn-primary">Start Appointment</button>
								</div>
							</div>

						</div>


					</div>

				</div>
				
				
				<hr>
								
				<div class="row history-header">
					<div class="history-title col-md-6">Missed Appointments</div>
					<div class="history-number col-md-6"
						th:utext="'Total Appointments : ' + ${missedNum==null ? '0': missedNum}"></div>
				</div>
				<hr>
				<div class="history-list">
					<div class="list-item" th:each="miss : ${missed}">
						<div class="head row">
							<div class="col-sm-6">
								<h4 th:utext="'Appointment #'+ ${miss.id}"></h4>
							</div>
							<div class="col-sm-6 date"
								th:utext="'Date : ' + ${miss.date}"></div>

						</div>
						<p
							th:utext="'Created οn : ' + ${miss.dateCreated == null ? 'No Summary Available' : miss.dateCreated}">...</p>

						<p th:utext="'Attended : '+ ${miss.attented}"></p>

						<p th:utext="'Drop in  : '+ ${miss.dropin}"></p>

					</div>

				</div>
				
				
			</div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{/javaScript/content.js}"></script>
</body>

</html>
