<!DOCTYPE HTML>
<!-- xmlns:th="http://www.thymeleaf.org" -->
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Appointment</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	    crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	    crossorigin="anonymous"></script>
	<script th:src="@{/javaScript/content.js}"></script>

</head>

<body id="temp">
	<section id="header">
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">LAW
						<span>Company</span>
					</a>
					<i class="fas fa-gavel"></i>
				</div>
				<div class="navbar nav">
					<a class="nav-item tabs" th:href="@{appointments}">Home</a>
					<a class="nav-item tabs active">New Appointment</a>
					<a class="nav-item tabs" th:href="@{clientss}">Clients</a>
					<a class="nav-item tabs" th:href="@{addInfo}">Add Info</a>
				</div>
			</div>
		</nav>
	</section>
	<section id="consultation-form">
		<div class="container">
			<div class="col-md-5 consultation-form">
				<div class="form-area">
					<form id="newAppointmentForm">
						<h3 class="form-title">Add Appointment Form</h3>

						<div class="form-group">
							<label for="name">Appointment Date</label>
							<input type="date" class="form-control" name="date" required>
						</div>

						<div class="form-group">

							<label for="staff">Select Staff</label>

							<select required name="staff" class="form-control" id="staff">
								<option></option>
								<option th:value="${staff.id}" th:each="staff : ${staffs}" th:utext="${staff.name} + ' ' +${staff.surname}"></option>
							</select>

						</div>

						<div class="form-group">

							<label for="branch">Select Branch</label>

							<select id="branch" required name="branch" class="form-control">
								<option></option>
								<option th:value="${branch.id}" th:each="branch : ${branches}" th:utext="${branch.id}"></option>
							</select>

						</div>

						<div class="form-group">

							<label for="case">Select Case</label>

							<select id="case" required name="case" class="form-control">
								<option></option>
								<option th:value="${case.id}" th:each="case : ${cases}" th:utext="${case.id}"></option>
							</select>

						</div>

						<div class="form-group">
							<label>
								<input type="checkbox" name="drop_in">Drop in
							</label>
						</div>

						<button type="submit" class="btn btn-primary pull-right">Submit Form</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>